# GitHub Actions cache
/.github/.cache

# Docker cache
docker/logs/
docker/minio/
docker/plugins/
docker/postgres/

# DBT cache
banking_dbt/analyses/
banking_dbt/logs/
banking_dbt/target/
banking_dbt/tests/

# Others
__pycache__/
*.pyc
.vscode/
.idea/
.DS_Store
docker-compose.override.yml
logs/